#define VER_PRODUCT_NUMERIC	0,5,0,0
#define	VER_PRODUCT_STR		"0.5"
#define	VER_DESCRIPTION		"Open Dynamics Engine"
#define VER_INTERNAL		"libode"
#define	VER_COPYRIGHT		"Copyright (C) 2001,2002 Russell L. Smith."
#define VER_FILENAME		"libode-cs.dll"
#define VER_PRODUCTNAME		"ODE"

#include "version.rcinc"
