#define NOVERRESOURCE
#include "libvorbis.rc"
#undef VER_DESCRIPTION
#define	VER_DESCRIPTION		"libvorbisfile, a BSD-style license convenience library built on Vorbis designed to simplify common uses"
#undef VER_INTERNAL
#define VER_INTERNAL		"libvorbisfile"
#undef VER_FILENAME
#define VER_FILENAME		"libvorbisfile-cs.dll"

#include "version.rcinc"
