#define	VER_DESCRIPTION		"libcucul - Canvas for ultrafast compositing of Unicode letters"
#define VER_INTERNAL		"libcucul"
#define VER_FILENAME		"libcucul-cs.dll"
#define VER_PRODUCTNAME		"libcucul"

#include "libcacacommon.rc"
