#define VER_PRODUCT_NUMERIC	6,2,0,0
#define	VER_PRODUCT_STR		"6b  27-Mar-1998"
#define	VER_DESCRIPTION		"libjpeg"
#define VER_INTERNAL		"libjpeg"
#define	VER_COPYRIGHT		"Copyright (C) 1998, Thomas G. Lane"
#define VER_FILENAME		"libjpeg-cs.dll"
#define VER_PRODUCTNAME		"libjpeg"

#include "version.rcinc"
