#define VER_PRODUCT_NUMERIC	1,1,0,0
#define	VER_PRODUCT_STR		"1.1.0"
#define	VER_DESCRIPTION		"libvorbisfile, a BSD-style license convenience library built on Vorbis designed to simplify common uses"
#define VER_INTERNAL		"libvorbisfile"
#define	VER_COPYRIGHT		"(C) COPYRIGHT 1994-2004 by the Xiph.Org Foundation http://www.xiph.org/"
#define VER_FILENAME		"libvorbisfile-cs.dll"
#define VER_PRODUCTNAME		"OggVorbis"

#include "version.rcinc"
